

<!DOCTYPE html>
 

@using MultiKart.Models;
@using MultiKart.EntityLayer;


@{
    ViewBag.Title = "Creat";
    Layout = "~/Views/Shared/_BLayout.cshtml";

}
@{List<Product> products = CacheHelper.GetProducts();}




<!-- Mirrored from themes.pixelstrap.com/multikart/back-end/add-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 14:33:58 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="../yeni/themes.pixelstrap.com/multikart/assets/images/dashboard/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="../yeni/themes.pixelstrap.com/multikart/assets/images/dashboard/favicon.png" type="image/x-icon">
    <title>Multikart - Premium Admin Template</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/fontawesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/flag-icon.css">

    <!-- Bootstrap css-->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="../yeni/themes.pixelstrap.com/multikart/assets/css/admin.css">
</head>
<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">


        <!-- Page Body Start-->
        <div class="page-body-wrapper">




            <div class="page-body">

                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="page-header-left">
                                    <h3>
                                        Add Products
                                        <small>Multikart Admin panel</small>
                                    </h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ol class="breadcrumb pull-right">
                                    <li class="breadcrumb-item"><a href="index"><i data-feather="home"></i></a></li>
                                    <li class="breadcrumb-item">Physical</li>
                                    <li class="breadcrumb-item active">Add Product</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
                <!-- Container-fluid starts-->
                <form class="" action="/Product/Creat" method="post" enctype="multipart/form-data">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Add Product</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row product-adding">
                                            <div class="col-xl-5">
                                                <div class="add-product">
                                                    <div class="row">
                                                        <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                            <div class="col-xl-7">

                                                              


                                                                <div class="form">
                                                                    <div class="form-group mb-3 row">
                                                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Ad :</label>
                                                                        <input class="form-control col-xl-8 col-sm-7" id="Productİsim" name="ProductIsim" type="text" required="">
                                                                        <div class="valid-feedback">Looks good!</div>
                                                                    </div>
                                                                    <div class="form-group mb-3 row">
                                                                        <label for="validationCustom01" class="col-xl-3 col-sm-4 mb-0">Kategori :</label>
                                                                        <input class="form-control col-xl-8 col-sm-7" id="Category" name="ProductCategory" type="text" required="">
                                                                        <div class="valid-feedback">Looks good!</div>
                                                                    </div>

                                                                    <div class="form-group mb-3 row">
                                                                        <label for="validationCustom02" class="col-xl-3 col-sm-4 mb-0">Fiyat :</label>
                                                                        <input class="form-control col-xl-8 col-sm-7" id="ProductFiyat" name="ProductFiyat" type="text" required="">
                                                                        <div class="valid-feedback">Looks good!</div>
                                                                    </div>
                                                                    <div class="form-group mb-3 row">
                                                                        <label for="validationCustomUsername" class="col-xl-3 col-sm-4 mb-0">Ürün Kodu :</label>
                                                                        <input class="form-control col-xl-8 col-sm-7" id="Id" name="ProductKodu" type="text" required="">
                                                                        <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid Code.</div>
                                                                    </div>
                                                                </div>
                                                                <div class="form">
                                                                    <div class="form-group row">
                                                                        <label for="exampleFormControlSelect1" class="col-xl-3 col-sm-4 mb-0">Bedeni Seçiniz</label>
                                                                        <select class="form-control digits col-xl-8 col-sm-7" name="ProductBeden" id="Beden">
                                                                            <option>Small</option>
                                                                            <option>Medium</option>
                                                                            <option>Large</option>
                                                                            <option>Extra Large</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label class="col-xl-3 col-sm-4 mb-0">Toplam Ürün</label>
                                                                        <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7 pl-0">
                                                                            <div class="input-group">
                                                                                <input name="ProductToplam" class="touchspin" type="text" value="1">
                                                                            </div>
                                                                        </fieldset>
                                                                    </div>

                                                                </div>
                                                                <div class="offset-xl-3 offset-sm-4">
                                                                    <button type="submit" class="btn btn-primary" formmethod="post">  Ekle</button>
                                                                    <button type="button" class="btn btn-light">Discard</button>
                                                                </div>












                                                            </div>
                                                        </div>

                                                        <div class="col-xl-3 xl-50 col-sm-6 col-3">




                                                            <div class="form">
                                                                <ul class="file-upload-product">
                                                                    <li><div class="box-input-file"><input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>
                                                                    <li><div class="box-input-file"> <input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>
                                                                    <li><div class="box-input-file"><input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>
                                                                    <li><div class="box-input-file"><input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>
                                                                    <li><div class="box-input-file"><input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>
                                                                    <li><div class="box-input-file"><input class="upload" name="files" type="file"><i class="fa fa-plus"></i></div></li>

                                                                </ul>


                                                            </div>













                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                          

                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Container-fluid Ends-->
                </form>
            </div>



        </div>

    </div>

    <!-- latest jquery-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/popper.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/sidebar-menu.js"></script>

    <!-- touchspin js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/touchspin/vendors.min.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/touchspin/touchspin.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/touchspin/input-groups.min.js"></script>

    <!-- form validation js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/dashboard/form-validation-custom.js"></script>

    <!-- ckeditor js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/editor/ckeditor/ckeditor.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/editor/ckeditor/styles.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/editor/ckeditor/adapters/jquery.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/editor/ckeditor/ckeditor.custom.js"></script>

    <!-- Zoom js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/jquery.elevatezoom.js"></script>
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/zoom-scripts.js"></script>

    <!--Customizer admin-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/admin-customizer.js"></script>

    <!-- lazyload js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/lazysizes.min.js"></script>

    <!--right sidebar js-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/chat-menu.js"></script>

    <!--script admin-->
    <script src="../yeni/themes.pixelstrap.com/multikart/assets/js/admin-script.js"></script>

</body>


<!-- Mirrored from themes.pixelstrap.com/multikart/back-end/add-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 27 Sep 2019 14:34:30 GMT -->
